[MASTER]
init-hook='import sys; sys.path.append("/Applications/Sublime Text.app/Contents/MacOS")'

max-line-length=120
good-names=i,j,df,pt,fn,s,ch,m
ignored-argument-names=arg|args|kwargs

disable=
    invalid-name,
    missing-docstring,
    arguments-differ,
    no-self-use,
    bare-except,
    too-few-public-methods
